/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #7f49ec;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 10px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555;
}

header {
    color: #7f49ec;
    text-align: center;
    padding: 1rem 0;
}

.about-us {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

.follow-us {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-media {
    text-align: center;
    margin: 10px 0;
}

.icon {
    display: inline-block;
    margin: 0 10px;
}

.icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.icon img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #87CEEB;
    color: #000;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 30px;
    position: relative; /* Change from fixed to relative for better layout handling */
}
